.book{
    display: flex;
    margin:auto; 
    flex-direction: row;    
    padding: 25px;
    border:1px solid red;
}

.totalCost{
    border:1px solid blue;
}
.unitPrice{
    border:1px solid black;
}

.details {
    display: flex;
    margin:auto; 
    flex-direction: column;
    
}
.title{
    font-size: 28px!important;
    line-height: 36px!important;
}
div{
    font-size: 20px;
    padding: 10px
}